Flask==3.0.0
email-validator==2.1.0
python-dateutil==2.8.2
harboria-portid==0.1.0
psycopg2-binary==2.9.9
bcrypt==4.1.2
redis==5.0.1
cryptography==41.0.7
pycryptodome==3.19.0
gunicorn==21.2.0
dnspython==2.4.2
requests==2.31.0
solders==0.18.1
eth-account==0.10.0
eth-keys==0.4.0
web3==6.11.3
Pillow==10.1.0
user-agents==2.2.0
